[submodule "tools/clone-comparer"]
	path = tools/clone-comparer
	url = https://github.com/iresbaylor/clone-comparer
[submodule "tools/codeDuplicationParser"]
	path = tools/codeDuplicationParser
	url = https://github.com/iresbaylor/codeDuplicationParser
[submodule "tools/PycloneTestBankCreator"]
	path = tools/PycloneTestBankCreator
	url = https://github.com/calebdehaan/PycloneTestBankCreator
